@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

h1, h2, h3, h4 {
    font-weight: 100;
}

/* background image and font style*/

body {
    font-family: Work Sans, sans-serif;
    color: #D8D8D8;
    background: black url('../images/pexels-brett-sayles-3507989.jpg') no-repeat fixed center;
    background-size: cover;
    height: 2000px;
}

/* navigation links */

#menu {
    font-size: 110%;
    line-height: 100px;
    margin-left: 50px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 12px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #D8D8D8;
}

.active {
    border-bottom: 1px solid #D8D8D8;
}

/* social media links */

#social-media {
    line-height: 100px;
    margin-right: 50px;
}

#social-media li {
    float: right;
    list-style-type: none;
    margin-left: 30px;
}

#social-media i {
    font-size: 140%;
    color: #D8D8D8;
}

/* solfeggio for piano body text */

#body-text {
    text-align: center;
    padding-top: 700px;
    text-transform: uppercase;
}

#solfeggio-for-piano {
    font-size: 300%;
    letter-spacing: 30px;
}

#alpha-music {
    font-size: 120%;
    letter-spacing: 8px;
    padding-top: 40px;
}

#video-and-audio {
    padding-top: 500px;
}

/* embedded video */

#solfeggio-video {
    float: left;
    width: 50%;
    text-align: center;
}

#solfeggio-video h2 {
    text-transform: uppercase;
}

#solfeggio-video p {
    padding: 20px 220px 100px 220px;
    line-height: 1.6;
}

/* dividing line */

#dividing-line {
    position: relative;
    width: 150px;
    margin: 10px auto;
    display: block;
    border-top: 1px solid;
}

/* embedded audio*/

#solfegio-audio {
    float: right;
    width: 50%;
    text-align: center;
}

#solfegio-audio h2 {
    text-transform: uppercase;
}

#solfegio-audio h4 {
    font-size: 85%;
    line-height: 0px;
}

#audio-image {
    background: url('../images/pexels-photo-590493.jpg') no-repeat center center;
    background-size: cover;
    clear: both;
    width: 400px;
    height: 480px;
    margin: 50px auto 20px;
}

audio {
    margin: 20px auto;
}

/* footer */

footer {
    height: 400px;
    clear: both;
}

footer p {
    text-align: center;
    letter-spacing: 1px;
    font-size: 90%;
    padding-top: 360px;
}

/* Media quaries */

/* For larger to medium screens size from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #solfeggio-video p {
        width: 100%;
        padding-left: 10px;
    }
}

/* For medium screen sizes from 1000px wide and down */
@media screen and (max-width: 1000px) {

    #video-and-audio {
        padding-top: 300px;
    }

    #solfeggio-video {
        text-align: center;
        width: 100%;
    }

    #solfeggio-video p {
        width: 500px;
        margin: 0 auto;
        padding: 10px 20px 100px 20px;
    }

    #solfegio-audio {
        text-align: center;
        width: 100%;
        margin-top: 150px;
    }
}

/* For small screen sizes from 700px wide and down */
@media screen and (max-width: 700px) {

    #menu {
        text-align: center;
        margin: 0 auto;
    }

    #menu li {
        float: none;
        display: inline;
    }

    #social-media {
        clear: left;
        text-align: center;
        margin: 0 auto;
    }

    #social-media li {
        float: none;
        display: inline;
    }

    #body-text {
        padding-top: 500px;
    }
}

/* For small screen sizes from 550px wide to 350px */
@media screen and (max-width: 550px) {

    #solfeggio-for-piano {
        letter-spacing: 5px;
        font-size: 180%;
    }

    #social-media li {
        margin: 7px;
    }

    #solfeggio-video p {
        width: 300px;
    }

    iframe {
        width: 300px;
        height: 200px;
    }

    #audio-image {
        width: 350px;
        height: 400px;
    }
}