@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* background image and font style*/

body {
    font-family: Work Sans, sans-serif;
    color: #D8D8D8;
    background: black url('../images/pexels-brett-sayles-3507989.jpg') no-repeat fixed center;
    background-size: 100%;
    height: 2000px;
}

/* navigation links */

#menu {
    font-size: 110%;
    line-height: 100px;
    margin-left: 50px;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 12px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #D8D8D8;
}

.active {
    border-bottom: 1px solid #D8D8D8;
}

/* social media links */

#social-media {
    line-height: 100px;
    margin-right: 50px;
}

#social-media li {
    float: right;
    list-style-type: none;
    margin-left: 30px;
}

#social-media i {
    font-size: 140%;
    color: #D8D8D8;
}

/* solfeggio for piano body text */

#body-text {
    text-align: center;
    padding-top: 700px;
}

#solfeggio-for-piano {
    font-size: 300%;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 30px;
}

#alpha-music {
    font-size: 120%;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 8px;
    padding-top: 40px;
}

/* embedded video */

#solfeggio-video {
    width: 50%;
}